$color-principal: #0c5669;
$color-secundario: #00C8F8;
$font-size-title:20px;
$font-size-input:20px;
$border-main:solid;
$gap:30px;


@mixin flex($justify:center){
    display: flex;
    justify-content: $justify;
    align-items: center;
}
@mixin grid($numbercolumns:1fr 1fr, $numberrows:1fr 1fr){
    display: grid;
    grid-template-columns: $numbercolumns;
    grid-template-rows: $numberrows;
    height: 100%;
    width: 100%;
}
@mixin button($fontsize:20px){
    background-color: $color-principal;
    border-style: solid;
    border-radius: 15px;
    font-size: $fontsize;
    &:hover{
        background-color: $color-secundario;
    }
}
@mixin responsive($wrap:wrap){
    display: flex;
    flex-wrap: $wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*Reset de css*/
*{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

/*Cosas generales*/
input{
   font-size: $font-size-input;
   height: 50px;
}

select{
   font-size: $font-size-input;
   height: 50px;
}

textarea{
    font-size: $font-size-input;
    width: 100%;
}

h6,h5,h4,h3,h2{
    font-size: $font-size-title;
}

ul,ol{
    list-style: none;
}






