/*Reset css*/
/*Reset de css*/
* {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Cosas generales*/
input {
  font-size: 20px;
  height: 50px;
}

select {
  font-size: 20px;
  height: 50px;
}

textarea {
  font-size: 20px;
  width: 100%;
}

h6, h5, h4, h3, h2 {
  font-size: 20px;
}

ul, ol {
  list-style: none;
}

/*COMPONENTES*/
.nav-h1 {
  font-size: 38px;
  margin: 0;
  text-decoration: none;
  color: white;
  align-items: baseline;
}
.nav-h1 a {
  text-decoration: none;
  color: white;
}

.nav {
  background-color: #07343e;
  display: flex;
  align-items: center;
  padding: 1%;
  text-align: center;
  justify-content: space-between;
  /*RECUERDA QUE VA AQUI border:blue;*/
  padding-inline: 50px;
}
.nav .nav-list {
  display: flex;
  gap: 30px;
  font-size: 20px;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 0;
}
.nav .nav-link {
  text-decoration: none;
  color: white;
  align-items: center;
}

button {
  background: linear-gradient(to bottom, #f0f0f5, #d1d1d6);
  border: none;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 12px 24px;
  position: relative;
  transition: all 0.3s ease;
  text-transform: uppercase;
}
button:hover {
  background-color: #ffca28;
  color: #ffffff;
}

.publicidad {
  height: 100vh;
  background-image: url("../img/pexels-francesco-ungaro-1525041.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  position: relative;
}
.publicidad .publicidad-div {
  background-image: url(../img/pexels-francesco-ungaro-1525041.jpg);
  background-size: cover;
  display: flex;
  padding: 6%;
  height: 100vh;
  width: 100%;
  color: #00C8F8;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  content: "";
  width: 100%;
  height: 100%;
}

.section-search {
  background-color: #0c5669;
  border-bottom-style: solid;
  border-color: gray;
  border-width: 2px;
  color: #00C8F8;
}
.section-search .search {
  margin-right: 4%;
  margin-left: 4%;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  bottom: 10vh;
  padding: 3vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #07343e;
  color: white;
  align-items: center;
}
.section-search .search .search-1 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.section-search .search .search-1 div {
  width: 100%;
}
.section-search .search .search-1 .ida {
  font-size: 20px;
  width: 100%;
  height: 100%;
  background-color: white;
}
.section-search .search .search-1 .vuelta {
  font-size: 20px;
  width: 100%;
  height: 50px;
  background-color: white;
}
.section-search .search .search-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.section-search .search .search-2 button {
  height: 100%;
  padding: 0px;
  padding-inline: 20px;
  height: 50px;
}
.section-search .search .search-2 input {
  width: 100%;
  height: 100%;
  height: 50px;
}
.section-search .search-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding-bottom: 50px;
  color: white;
  gap: 50PX;
}
.section-search .search-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.section-search .search-box div a {
  display: flex;
  text-decoration: none;
  color: white;
  padding: 10px;
}
.section-search .search-box div a button {
  display: flex;
  width: 220px;
  justify-content: center;
}
.section-search .search-box .search-box-item {
  flex-shrink: 0;
  border-width: 0;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  height: auto;
  border-right-width: thin;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  border-color: #CCCCCB;
  height: 40px;
  margin: 0 3.5px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.bi-star-fill {
  color: yellow;
  font-size: 20px;
}

.bi-suitcase2-fill {
  color: crimson;
  font-size: 20px;
}

.bi-airplane-fill {
  color: #00C8F8;
  font-size: 20px;
}

.sitios {
  background-color: #0c5669;
  color: white;
  padding-inline: 5%;
  padding-block: 13%;
  text-align: center;
  height: auto;
  width: 100%;
}
.sitios img {
  width: 100%;
}
.sitios .mover-h2 {
  position: relative;
  bottom: 20px;
  font-size: 40px;
}
.sitios .sitios-div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}
.sitios .sitios-div div img {
  padding: 3px;
  border-radius: 15px;
}
.sitios .sitios-div .first-item {
  color: black;
  grid-column: 1/3;
  border-style: so;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 15px;
  text-align: center;
  border-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.sitios .sitios-div .second-item {
  grid-column: 2/4;
  border-style: solid;
  background-color: #ffffff;
  color: black;
  text-align: center;
  border-radius: 14px;
  border-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.sitios .sitios-div .third-item {
  border-style: solid;
  background-color: #ffffff;
  color: black;
  text-align: center;
  border-radius: 14px;
  border-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.sitios .sitios-div .fourth-item {
  border-style: solid;
  background-color: #ffffff;
  color: black;
  text-align: center;
  border-radius: 14px;
  border-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.iframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 50px;
  padding: 50px;
  background-color: #0c5669;
}
.iframe .iframe-text {
  border-style: solid;
  border-radius: 15px;
  border-color: white;
  background-color: #ffffff;
  margin-inline: 100px;
}
.iframe .iframe-map {
  height: 400px;
}
.iframe .first-iframe-video {
  height: 400px;
}
.iframe .second-iframe-video {
  height: 400px;
}

.contact {
  padding-inline: 10%;
  padding-block: 10vh;
  background-color: #0c5669;
  border-style: solid;
  border-color: grey;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-style: solid;
  border-right: none;
  border-left: none;
  border-color: grey;
}
.contact .box-contact {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  color: #0c5669;
  text-align: center;
}
.contact .form-contact {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 3px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.contact .form-contact input, .contact .form-contacttextarea {
  height: 60px;
  width: 100%;
}
.contact .form-contact button {
  align-items: center;
}

.box-vip {
  z-index: 20;
  color: #00e2ff;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.box-vip a {
  display: inline-block;
  width: 70px;
  height: 70px;
}
.box-vip a img {
  width: 70px;
  height: 70px;
}

footer {
  background-color: #00C8F8;
  color: white;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*ESTILOS DE LAS PAGES*/
.main-myflight {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #0c5669;
  background-image: linear-gradient(to bottom, #005064, #027ed1);
  border-style: solid;
  border-color: grey;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 20px;
  height: 90vh;
  color: white;
  gap: 20px;
}
.main-myflight .input-myflight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.main-myflight .input-myflight div {
  display: flex;
  gap: 20px;
  flex-direction: column;
  width: 100%;
}
.main-myflight .input-myflight div input {
  height: 50px;
}
.main-myflight .input-myflight div button {
  width: 100%;
  border-radius: initial;
}

.main-vip {
  padding: 40px;
  background-color: #0c5669;
  background-image: linear-gradient(to bottom, #005064, #238ed6);
  color: white;
  text-align: center;
  border-style: solid;
  border-color: grey;
  border-left: none;
  border-right: none;
  border-top: none;
  justify-content: center;
}
.main-vip .first-div-vip {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 50px;
}
.main-vip .first-div-vip img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.main-vip .first-div-vip div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-vip .vip-button {
  background: initial;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  display: inline-block !important;
  background-color: initial !important;
  color: initial !important;
  border: initial !important;
  padding: initial !important;
  display: inline-block !important;
  padding: 12px 24px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
  color: #ffffff !important;
  background-color: #ffca28 !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
  transition: all 0.3s ease !important;
}
.main-vip .vip-button:hover {
  background-color: #fce08e !important;
  transform: translateY(-2px) !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2) !important;
}
.main-vip .vip-button:active {
  transform: translateY(0) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
}

.vipformulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px;
  min-height: 80vh;
  background-color: #0c5669;
  background-image: linear-gradient(to bottom, #005064, #238ed6);
  color: white;
}
.vipformulario div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
}
.vipformulario div h3 {
  text-align: center;
}
.vipformulario .formulario-des div {
  width: 100%;
  gap: initial;
}
.vipformulario .col-122 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box {
  gap: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
}
.main-box div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.main-box div p {
  background-color: #d8d7d7;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;
}
.main-box div h3 {
  font-size: 28px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #3e281f;
}
.main-box div img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.secondary-box {
  display: flex;
  justify-content: center;
  align-items: start;
}
.secondary-box .one-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.secondary-box .one-box h3 {
  background-color: #3e281f;
  color: white;
}

.antes-de-viajar {
  background-color: #0c5669;
}

/*MEDIAQUERIES*/
@media (max-width: 1126px) {
  .section-search .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-search .search-box .search-box-item {
    display: none;
  }
}
@media (max-width: 804px) {
  .sitios .sitios-div {
    display: flex;
    flex-wrap: wrap;
  }
  .nav {
    background-color: #004557;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    text-align: center;
    border-style: solid;
    border: blue;
    padding-inline: 50px;
  }
  .publicidad-div {
    display: flex;
    flex-wrap: wrap;
  }
  .search-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
    color: white;
    gap: 50PX;
  }
  .section-search {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .search-box-item {
    display: none;
  }
  .iframe .iframe-text {
    margin-inline: 0px;
  }
  .main-myflight {
    display: flex;
    flex-direction: column;
  }
  .input-myflight {
    display: flex;
    flex-direction: column;
  }
  .input-myflight div {
    display: flex;
    flex-direction: column;
  }
  .first-div-vip {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .first-div-vip div img {
    height: 400px;
    object-fit: cover;
  }
  .vipformulario {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
    min-height: 80vh;
    background-color: #005064;
    background-image: linear-gradient(to bottom, #005064, #238ed6);
    color: white;
  }
  .vipformulario div {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    gap: 30px;
    width: 100%;
  }
  .formulario-des div {
    width: 100%;
    gap: initial;
  }
  .box-vip {
    display: none;
  }
}
@media (max-width: 674px) {
  .contact .form-contact input {
    font-size: 20px;
  }
  .search {
    margin-right: 4%;
    margin-left: 4%;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    bottom: 10vh;
    background-color: white;
    padding: 3vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #026680;
    color: white;
    align-items: center;
  }
  .section-search .search .search-2 button {
    width: 100%;
    height: 50px;
  }
  .section-search .search .search-2 input {
    font-size: 20px;
    height: 50px;
  }
  .section-search .search .search-1 .vuelta {
    width: 100%;
    font-size: 20px;
  }
  .section-search .search .search-1 .ida {
    width: 100%;
    height: 50px;
    font-size: 20px;
  }
  .main-vip .first-div-vip {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .ida {
    width: 100%;
  }
  .vuelta {
    width: 100%;
  }
  .millas {
    text-align: center;
    width: 100%;
  }
  .search-1 {
    display: flex;
    flex-direction: column;
  }
  .search-2 {
    display: flex;
    flex-direction: column;
  }
  .img-contact img {
    display: none;
  }
  .box-contact {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .contact .box-contact {
    padding: 20px;
  }
}
@media (max-width: 568px) {
  .first-iframe-video {
    width: 400;
  }
  .footer div {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 470px) {
  .main-myflight .input-myflight div input {
    height: 50px;
    font-size: 20px;
  }
  .nav {
    padding: 0px;
  }
  .nav .nav-list {
    padding: 0px;
    gap: 15px;
  }
  header nav h1 {
    display: none;
  }
  header nav {
    padding: 0;
    padding-inline: 0;
    gap: 1px;
  }
  .millas {
    font-size: 2.4vh;
  }
}

/*# sourceMappingURL=style-scss.css.map */
