.main-box{
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        p{
            background-color: #d8d7d7;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            padding: 15px;
        }
        h3{
            font-size: 28px;
            text-align: center;
            width: 100%;
            height: 100%;
            color: white;
            background-color: #3e281f;
        }
        img{
            max-width: 100%;
            width: 100%;
            height: auto;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;        
        }
    }
}
.secondary-box{
    display: flex;
    justify-content: center;
    align-items: start;
    .one-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        h3{
            background-color: #3e281f;
            color: white;
        }
    }
}
.antes-de-viajar{
    background-color: #0c5669;
}