.vipformulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding:100px;
    min-height: 80vh;
    background-color: $color-principal;
    background-image: linear-gradient(to bottom, #005064, #238ed6);
    color: white;
    & div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        width: 100%;
        h3{
            text-align: center;
        }
    }
    .formulario-des div{
        width: 100%;
        gap: initial;
    }
    .col-122{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}