footer{
    ul{
        li{
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
    background-color: $color-secundario;
    color: white;
    & div{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}